#carousel
  carousel-3d(:autoplay='true', :autoplay-timeout='2400')
    slide(:index='0')
      img(src='https://res.cloudinary.com/ameo/image/upload/v1498843587/kTcPaQR_x77hor.jpg')
    slide(:index='1')
      img(src='https://unsplash.it/400/300?image=456')
    slide(:index='2')
      img(src='https://unsplash.it/400/300?image=222')
    slide(:index='3')
      img(src='https://unsplash.it/400/300?image=1003')
    slide(:index='4')
      img(src='https://unsplash.it/400/300?image=940')
    slide(:index='5')
      img(src='https://unsplash.it/400/300?image=944')
    slide(:index='6')
      img(src='https://unsplash.it/400/300?image=219')
    slide(:index='7')
      img(src='https://unsplash.it/400/300?image=1041')